<div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="row slideanim">
              <div class="col-xs-5">
                <div class="view2 view-sixth">
                  <img
                    src="{{ base_path ~ directory }}/images/update1.jpg"
                    class="update-{{ base_path ~ directory }}/images img-responsive" />
                  <div class="mask2">
                    <h4>Dec-21-2015</h4>
                    <p>Check Out Our Latest Updates.</p>
                    <a href="#contact" class="info">Locate Us</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="update-details">
                  <h4>This is the latest news update right here.</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                  </p>
                  <a href="#contact">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="row update-row slideanim">
              <div class="col-xs-5">
                <div class="view2 view-sixth">
                  <img
                    src="{{ base_path ~ directory }}/images/update2.jpg"
                    class="update-{{ base_path ~ directory }}/images img-responsive" />
                  <div class="mask2">
                    <h4>Dec-22-2015</h4>
                    <p>Check Out Our Latest Updates.</p>
                    <a href="#contact" class="info">Locate Us</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="update-details">
                  <h4>This is the latest news update right here.</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                  </p>
                  <a href="#contact">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="row slideanim">
              <div class="col-xs-5">
                <div class="view2 view-sixth">
                  <img
                    src="{{ base_path ~ directory }}/images/update3.jpg"
                    class="update-{{ base_path ~ directory }}/images img-responsive" />
                  <div class="mask2">
                    <h4>Dec-23-2015</h4>
                    <p>Check Out Our Latest Updates.</p>
                    <a href="#contact" class="info">Locate Us</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="update-details">
                  <h4>This is the latest news update right here.</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                  </p>
                  <a href="#contact">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="row update-row slideanim">
              <div class="col-xs-5">
                <div class="view2 view-sixth">
                  <img
                    src="{{ base_path ~ directory }}/images/update4.jpg"
                    class="update-{{ base_path ~ directory }}/images img-responsive" />
                  <div class="mask2">
                    <h4>Dec-24-2015</h4>
                    <p>Check Out Our Latest Updates.</p>
                    <a href="#contact" class="info">Locate Us</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="update-details">
                  <h4>This is the latest news update right here.</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                  </p>
                  <a href="#contact">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>