<ul class="top-contacts">
  {% if field_name == 'field_email' %}
  <li class="top-hover">
    <p>
      <span class="fas fa-envelope"></span>
      <a href="mailto:{{ items.0.content }}">{{ items.0.content }}</a>
    </p>
  </li>
  {% endif %}

  {% if field_name == 'field_phone_number' %}
  <li class="top-hover">
    <p>
      <span class="fas fa-phone-alt"></span>
      <a href="tel:{{ items.0.content }}">{{ items.0.content }}</a>
    </p>
  </li>
  {% endif %}
</ul>

<ul class="top-links">
  <li>
    {% if field_name == 'field_languages' %}
    <div id="language-dropdown" class="language-dropdown">
      <div id="selected-language" class="selected-language" style="cursor: pointer;">
        {% set current_language = items[0].content['#title'] %}
        {% if current_language == 'Français' %}
        <img src="{{ directory }}/images/fr.svg" alt="Français" class="lang-img">
        <span>FR</span>
        {% elseif current_language == 'English' %}
        <img src="{{ directory }}/images/gb.svg" alt="English" class="lang-img">
        <span>EN</span>
        {% elseif current_language == 'العربية' %}
        <img src="{{ directory }}/images/arabic.webp" alt="Arabic" class="lang-img">
        <span>AR</span>
        {% else %}
        <img src="{{ directory }}/images/fr.svg" alt="Français" class="lang-img">
        <span>FR</span>
        {% endif %}
      </div>

      <!-- Dropdown options -->
      <div id="language-options" class="language-options">
        {% for item in items %}
        <div class="language-option" data-url="{{ item.content['#url'] }}" data-lang="{{ item.content['#title'] }}">
          {% if item.content['#title'] == 'Français' %}
          <img src="{{ directory }}/images/fr.svg" alt="Français" class="lang-img">
          <span>FR</span>
          {% elseif item.content['#title'] == 'English' %}
          <img src="{{ directory }}/images/gb.svg" alt="English" class="lang-img">
          <span>EN</span>
          {% elseif item.content['#title'] == 'العربية' %}
          <img src="{{ directory }}/images/arabic.webp" alt="Arabic" class="lang-img">
          <span>AR</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </li>

  {% if field_name == 'field_icons' %}
  {% for item in items %}
  <li>
    <a href="{{ item.content['#url'] }}">
      {% if loop.index == 1 %}
      <i class="fa-brands fa-facebook"></i>
      {% elseif loop.index == 2 %}
      <i class="fa-brands fa-x-twitter"></i>
      {% elseif loop.index == 3 %}
      <i class="fa-brands fa-linkedin"></i>
      {% endif %}
    </a>
  </li>
  {% endfor %}
  {% endif %}
</ul>