{% set attributes = attributes.addClass('container') %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
     <!-- Hamburger menu button -->
                <div id="menu-icon" class="menu-icon" style="padding: 15px;" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i>
                </div>
  {% endblock %}
</div>


    <script>
        function toggleMenu() {
            const menuIcon = document.getElementById('menu-icon');
            const navbar = document.getElementById('navbar');
            // Toggle the 'active' class to show/hide the menu
            navbar.classList.toggle('active');

            // Toggle between "bars" and "X" icon
            if (navbar.classList.contains('active')) {
                menuIcon.innerHTML = '<i class="fa fa-times"></i>'; // Change to "X" icon
            } else {
                menuIcon.innerHTML = '<i class="fa fa-bars"></i>'; // Change back to "bars" icon
            }
        }

        // Function to close the menu
        function closeMenu() {
            const menuIcon = document.getElementById('menu-icon');
            const navbar = document.getElementById('navbar');

            // Remove the 'active' class to hide the menu
            navbar.classList.remove('active');
            menuIcon.innerHTML = '<i class="fa fa-bars"></i>'; // Change back to "bars" icon
        }

        // Add click event listeners to all menu links
        document.querySelectorAll('.navigation a').forEach(link => {
            link.addEventListener('click', closeMenu);
        });
    </script>