<!-- news -->
    <div class="our-news" id="news">
      <h3 class="text-center">Big Companies Love Us</h3>
      <p class="text-center">
        We been Use By Almost All Fortune 500 Companies.
      </p>

      <div id="visual">
        <div class="slide-visual slideanim">
          <ul class="slide-group">
            <li>
              <img
                src="{{ base_path ~ directory }}/images/news1.jpg"
                alt="Dummy Image"
                class="img-responsive" />
            </li>
            <li>
              <img
                src="{{ base_path ~ directory }}/images/news2.jpg"
                alt="Dummy Image"
                class="img-responsive" />
            </li>
            <li>
              <img
                src="{{ base_path ~ directory }}/images/news3.jpg"
                alt="Dummy Image"
                class="img-responsive" />
            </li>
            <li>
              <img
                src="{{ base_path ~ directory }}/images/news4.jpg"
                alt="Dummy Image"
                class="img-responsive" />
            </li>
          </ul>
          <!-- Slide Description Image Area (316 x 328) -->
          <div class="script-wrap">
            <ul class="script-group">
              <li>
                <div class="inner-script">
                  <img
                    src="{{ base_path ~ directory }}/images/news1-1.jpg"
                    alt="Dummy Image"
                    class="img-responsive" />
                </div>
              </li>
              <li>
                <div class="inner-script">
                  <img
                    src="{{ base_path ~ directory }}/images/news2-2.jpg"
                    alt="Dummy Image"
                    class="img-responsive" />
                </div>
              </li>
              <li>
                <div class="inner-script">
                  <img
                    src="{{ base_path ~ directory }}/images/news3-3.jpg"
                    alt="Dummy Image"
                    class="img-responsive" />
                </div>
              </li>
              <li>
                <div class="inner-script">
                  <img
                    src="{{ base_path ~ directory }}/images/news4-4.jpg"
                    alt="Dummy Image"
                    class="img-responsive" />
                </div>
              </li>
            </ul>
            <div class="slide-controller">
              <a href="#" class="btn-prev"><img src="{{ base_path ~ directory }}/images/btn_prev.png" alt="Prev Slide" /></a>
              <a href="#" class="btn-play"><img src="{{ base_path ~ directory }}/images/btn_play.png" alt="Start Slide" /></a>
              <a href="#" class="btn-pause"><img src="{{ base_path ~ directory }}/images/btn_pause.png" alt="Pause Slide" /></a>
              <a href="#" class="btn-next"><img src="{{ base_path ~ directory }}/images/btn_next.png" alt="Next Slide" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /news -->